[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
black = "22.3.0"  # keep in sync with pre-commit
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "~=7.1"
pytest-cov = "*"
safety = "*"
pyupgrade = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
bandit = "bandit -c bandit.yaml -r ./broguedb"
safety = "safety check"
healthcheck = "bash ./sh/health-check.sh"
upgrade = 'bash ./sh/pyupgrade.sh'
load-catalog = "python broguedb/app/main.py"
test = """
       pytest
       --cov=broguedb
       --cov-fail-under=100
       --cov-config=.coveragerc
       ./broguedb/test
       --color=yes
       """
covtest = """
       pytest
       --cov=broguedb
       --cov-fail-under=100
       --cov-config=.coveragerc
       --cov-report=html
       ./broguedb/test
       --color=yes
       """

[packages]
click = "~=8.1"
